<h1>Listing answer_downvotes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answer_downvotes.each do |answer_downvote| %>
      <tr>
        <td><%= link_to 'Show', answer_downvote %></td>
        <td><%= link_to 'Edit', edit_answer_downvote_path(answer_downvote) %></td>
        <td><%= link_to 'Destroy', answer_downvote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer downvote', new_answer_downvote_path %>
